/* custom css */

/* Keep them close */
.index-post {
  margin-bottom: 1.5em;
}

.read-more {
  text-decoration: underline;
  float: right
}

.post-date {
  margin-bottom: 0.3rem;
  font-size: 15px;
}
